<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OCR.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ORC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ocr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>883EEC381BF9BA67000BFCA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>883EEC4F1BF9BA68000BFCA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>883EEC5A1BF9BA68000BFCA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88AA46D81BFC22F000335039</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88AA46F31BFC22F000335039</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88AA46FE1BFC22F000335039</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88AA47121BFC230300335039</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88AA472D1BFC230300335039</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88AA47381BFC230300335039</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
